/**
 * General styling
 */

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

h1, h2, h3 {
    color: rgba(0, 0, 0, 0.64);
}


/* Figure stuff */

div.inlineFigure {
    display: inline-block;
}


/* Table stuff */

table {
    border-collapse: collapse;
}

th {
    background-color: #f3f3f3;
    font-style: bold;
}

td {
    border-bottom: 1px solid #ddd;
}

th, td {
    padding: 7px;
}

td.number {
    text-align: right;
}

table.inlineTable {
    display: inline-table;
    margin: 7px;
}

table.small {
    font-size: small;
}


/* Menu stuff */

.menu ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

.menu li {
    float:left;
}

.menu li a {
    display: block;
    color: #666;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
}

div.content {
    margin-left: 40px;
    margin-right: 40px;
}
